@media screen and (min-width: 600px) {
	#headline {
	  background-image: url('../img/background-desktop.png');
	}

	#headline-container{
		position:relative;
		left: 60%;
		width: 20%;
		padding: 110px 20px;
	}

	.container {
	  margin: auto;
	  max-width: 900px;
	}

	#numbers {
		margin: :auto;
		text-align: center;
		display: flex;
	}

	#sectionPeople #person1 {
	  float: left; 
	  width: 48%;
	  box-sizing: border-box;
	}

	#sectionPeople #person2 {
	  float:right;
	  width: 48%;
	  box-sizing: border-box;
	}

	#sectionPeople img{
	  float: left; 
	  width: 30%;
	  box-sizing: border-box;
	  padding: 10px;
	}

	#sectionNumbers h1{
	  float: left; 
	  width: 25%;
	  box-sizing: border-box;
	  padding: 10px;
	}

	.text {
	  float:right;
	  width: 65%;
	  box-sizing: border-box;
	}

	button.redirect{
		width: 60%;
	}

	#sectionIcons .container {
		width: 60%;
	}

	#footer-container {
		margin: auto;
		max-width: 800px;
	}
}